body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-width: 5rem;
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(0deg, #0093e9 0%, #d0c180 100%);
  background-repeat: repeat-x;
}

h1 {
  min-width: 18rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

p {
  padding: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 0.5rem;
}

.emo {
  width: 18.75rem;
  height: 31.25rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 20rem;
  padding: 1rem;
}

/* .emo {
  width: 18.75rem;
  height: 31.25rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 20rem;
  padding: 1rem;
  display: none;
} */

.emo__quest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emo__quest__label {
  color: grey;
  display: flex;
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem;
}

.emo__quest__question {
  text-align: center;
  width: 20%;
  font-size: 1.25rem;
  color: white;
  border: unset;
  background-color: #bfbf82;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin: 0.5rem;
}

emo__quest__question2 {
  text-align: center;
}

.emo__quest__question--hidden {
  visibility: hidden;
}

.emo__button {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

button {
  color: white;
  font-size: 24px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(0deg, #0093e9 0%, #d0c180 100%);
}

button:hover {
  background-image: none;
  background-color: #0093e9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.emo__face {
  width: 300px;
  height: 240px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.emo__face--img {
  max-width: 100%;
  max-height: 18rem;
  object-fit: fill;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.emo__next {
  display: flex;
  justify-content: center;
  margin: 1rem;
  border-radius: 0.5rem;
}
